* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --very-dark-blue: hsl(243, 87%, 12%);
  --desaturated-blue: hsl(238, 22%, 44%);
  --bright-blue: hsl(224, 93%, 58%);
  --moderate-cyan: hsl(170, 45%, 43%);
  --light-grayish-blue: hsl(240, 75%, 98%);
  --light-gray: hsl(0, 0%, 75%);
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
}

/*
  Typography
*/
h1, 
h2,
h3, 
.btn, 
.nav-link {
  font-family: 'Raleway', sans-serif;
}

/*
  button
*/
.btn {
  border: none;
  color: white;
  background-color: var(--bright-blue);
  font-size: 1.1rem;
  padding: 20px 40px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 2px 2px 8px var(--light-gray);
  transition: background-color 1s;
}

.btn:hover,
.btn:focus {
  cursor: pointer;
  background-color: var(--moderate-cyan);
}

@media (min-width: 600px) {
  .btn {
    width: 35%;
    padding: 10px 40px;
  }
}

/*
  Header
*/
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  height: 2.5rem;
}

.logo {
  display: inline-block;
  height: 100%;
}

.nav-link {
  text-decoration: none;
  color: var(--desaturated-blue);
  padding-left: 20px;
}

.nav-link:first-child {
  padding-left: 0;
}

@media (min-width: 600px) {
  header {
    justify-content: space-between;
    height: 3rem;
  }

  .nav {
    margin-right: 80px;
  }

  .logo {
    margin-left: 80px;
  }
}

/*
  main section
*/

main {
  display: grid;
  grid-template-columns: 100%;
  padding: 50px;
  text-align: center;
}

.illustration1 {
  grid-column-start: 1;
  grid-column-end: -1;
  width: 100%;
}

.main-heading {
  margin: 50px 0;
  letter-spacing: 1px;
  line-height: 1.5;
}

.main-text {
  letter-spacing: 1px;
  line-height: 1.6;
  color: var(--desaturated-blue);
  margin-bottom: 40px;
}

input {
  width: 100%;
  font-size: 1.2rem;
  padding: 20px 40px;
  border: 1px solid var(--desaturated-blue);
  border-radius: 5px;
  margin-bottom: 30px;
}

input::placeholder{
  color: var(--light-gray);
}

@media (min-width: 600px) {
  main {
    grid-template-columns: 50% 50%;
    text-align: left;
    column-gap: 20px;
  }

  .illustration1 {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .main-heading,
  .main-text,
  .main-form {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .main-heading {
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .main-text {
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .main-form {
    grid-row-start: 3;
    grid-row-end: 4;
  }

  input {
    width: 50%;
    font-size: 1.1rem;
    padding: 10px 40px;
    margin-right: 10px;
  }
}

/*
  productive section
*/
.productive {
  color: var(--desaturated-blue);
  background-color: var(--light-grayish-blue);
  display: grid;
  grid-template-columns: 100%;
  padding: 50px;
  padding-top: 0;
  text-align: left;
  width: 100%;
}

.productive-heading {
  margin-top: 100px;
  font-size: 1.6rem;

}

.productive-text {
  letter-spacing: 1px;
  line-height: 1.6;
  margin: 20px 0;
}

.curve {
  margin: 0;
  height: 80px;
  background-image: url("../images/bg-curve-mobile.svg");
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.illustration2 {
  grid-column-start: 1;
  grid-column-end: -1;
  width: 100%;
}

.work-link {
  display: inline-block;
  align-self: initial;
  text-decoration: none;
  color: var(--moderate-cyan);
  margin: 0 auto;
}

.work-link::after {
  content: '';
  display: block;
  height: 2px;
  background: var(--moderate-cyan);
  width: 180px;
}

.card {
  background-color: white;
  width: 90%;
  border-radius: 10px;
  padding: 40px;
  font-size: 0.9rem;
  line-height: 2.0;
  margin: 60px auto;
}

.avatar {
  width: 50%;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-column-gap: 10px;
  font-size: 0.6rem;
  line-height: 1.6;
}

.avatar-img {
  width: 35px;
  border-radius: 50%;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.avatar-title {
  font-size: 0.9rem;
}

@media (min-width: 600px) {
  .curve {
    height: 80px;
    background-image: url("../images/bg-curve-desktop.svg");
  }

  .productive {
    grid-template-columns: 50% 50%;
    column-gap: 20px;
  }

  .illustration2 {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 5;
  }

  .productive-heading,
  .productive-text,
  .work-link,
  .card {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .productive-heading {
    margin-top: 0;
    font-size: 2.5rem;
  }
  .productive-paragraph {
    margin-top: 20px;
  }

  .work-link {
    margin-left: 0;
  }
}

/*
  Access section
*/
.access {
  color: white;
  background-color: var(--desaturated-blue);
  text-align: center;
}


/* 
footer 
*/
footer {
  color: white;
  background-color: var(--very-dark-blue);
  display: grid;
  grid-template-columns: 100%;

}

.footer-link {
  display: inline-block;
  text-decoration: none;
  color: white;
  transition: color 1s;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--desaturated-blue);
}

i {
  border: 1px solid white;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  text-align: center;
  padding-top: 0.5rem;
  margin: 5px;
  color: white;
  transition: color 1s, border-color 1s;
}

i:hover,
i:focus {
  color: var(--desaturated-blue);
  border-color: var(--desaturated-blue);
}

.logo-white {
  display: block;
}